<aside class="sidebar">
    <div class="sidebar__section">
        <h3 class="sidebar__title">Categories</h3>
        <ul class="sidebar__list">
            <li><a href="/blog/top-10-php777-slots-asia/">Slot Reviews</a></li>
            <li><a href="/blog/how-to-start-php777-asia/">Getting Started</a></li>
            <li><a href="/blog/php777-deposit-methods-infographic/">Payment Guides</a></li>
            <li><a href="/blog/best-live-baccarat-casinos-asia-2025/">Live Casino</a></li>
            <li><a href="/blog/sports-betting-asia-football-basketball-esports/">Sports Betting</a></li>
            <li><a href="/blog/online-casino-asia-guide/">Asia Casino Guide</a></li>
            <li><a href="/blog/responsible-gambling-asia-tools-resources/">Responsible Gambling</a></li>
        </ul>
    </div>
    <div class="sidebar__section">
        <h3 class="sidebar__title">Popular Posts</h3>
        <ul class="sidebar__list sidebar__list--posts">
            <li><a href="/blog/top-10-php777-slots-asia/">Top 10 PHP777 Slots</a></li>
            <li><a href="/blog/best-live-baccarat-casinos-asia-2025/">Best Live Baccarat Casinos</a></li>
            <li><a href="/blog/how-to-start-php777-asia/">How to Start at PHP777</a></li>
            <li><a href="/blog/online-casino-bonuses-asia-guide/">Casino Bonuses Asia</a></li>
            <li><a href="/blog/php777-deposit-methods-infographic/">Deposit Methods</a></li>
        </ul>
    </div>
    <div class="sidebar__section">
        <a href="{{base}}responsible-gambling.html" class="sidebar__link sidebar__link--rg">Responsible Gambling</a>
    </div>
</aside>
